.App {
  margin: 30px;
}
.Header ul {
  justify-content: right;
}
.preview {
  position: absolute;
  top: 25px;
  left: 30px;
}

.container {
  text-align: left;
  margin: 50px 0;
}
.dropdown-container {
  display: flex;
}
.dropdown {
  width: 15%;
  margin: 20px;
}
.card {
  margin: 20px;
  height: 241px;
  width: 50%;
}
.cat img {
  max-width: 300px;
  max-height: 300px;
  margin-left: 50px;
}
.cat {
  display: flex;
  margin-left: 20px;
}
